<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Transcription</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Upload an MP3 File for Transcription</h1>
    <form action="/transcribe" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".mp3" required>
        <button type="submit">Transcribe</button>
    </form>

    {% if transcription %}
    <div class="transcription-result">
        <h2>Transcription Result:</h2>
        <p>{{ transcription|safe }}</p>
    </div>
    {% endif %}
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Transcription</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Upload an MP3 File for Transcription</h1>
        <form action="/transcribe" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".mp3" required>
            <button type="submit">Transcribe</button>
        </form>

        {% if transcription %}
        <div class="transcription-result">
            <h2 class="transcription-title">Transcription Result:</h2>
            <p>{{ transcription|safe }}</p>
        </div>
        {% endif %}
    </div>
</body>

</html>